<!DOCTYPE html>
<html>
  <head>
    <title>CodingAssignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <% if user_signed_in? %>
      Logged in as <%= current_user.email%> ||
      <%= link_to('Home', root_path, method: :get, class: "btn-primary") %> ||
      <%= link_to('Import CSV', import_csv_path, method: :get, class: "btn-primary") %> ||
       <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn-primary pull-right") %>
      <%= flash[:notice]%>
    <% end %>
    <%= yield %>
  </body>
</html>
